<!-- views/partials/navbar.ejs -->
<link rel="stylesheet" href="/styles/style.css">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        
        <li><a href="/admissions">Admissions</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/faculty">Faculty</a></li>
        <li><a href="/financialaid">Financial Aid</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
