/* public/styles/navbar-style.css */
nav {
    background-color: #007BFF;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0056b3;
}
